<div class="col-xs-6">

	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="pull-right">
				<button class="btn btn-default"{{action 'salvar'}} >Salvar</button>
			</div>
			<h3 data-toggle="collapse" data-parent="#accordion"
				href="#collapseOne" class="panel-title">

				<span class="glyphicon glyphicon-collapse-down"></span> Editar
			</h3>
			<div class="clearfix"></div>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">

						<label class="col-xs-4 control-label" for="nome">Nome do
							Album</label>
						<div class="col-xs-8">{{view App.MyText value=nome
							placeholder="Nome do Album" class='form-control' id="nome" }}</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4 control-label" for="descricao">Descricao
							do Album</label>

						<div class="col-xs-8">{{view App.MyText
							placeholder="Descricao" value=descricao class="form-control"
							id="descricao"}}</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>




