<div class="form-group">
<label>Nome do Album</label>
{{input value=nome}}
<label>Descricao do Album</label>
{{input value=descricao}}
<button class="btn btn-default" {{action 'salvar'}} >Salvar</button>
</div>