<div class="col-xs-6">
	<div class="panel panel-primary">
		<div class="panel-heading">

			<div class="pull-right">{{#link-to 
				'albums.create' class="button btn btn-default btn-sm"}} Novo
				{{/link-to}}</div>

			<h3 class="panel-title">Albuns</h3>
			<div class="clearfix"></div>

		</div>
		<ul class="list-group-item">
			{{#each album in controller}}
			<li class="list-group-item">{{#link-to 'album'
				album}}{{album.id}} - {{album.nome}} {{/link-to}}</li> {{/each}}
		</ul>
		<div class="panel-footer">
			<span class="label label-primary"> Albuns: {{albumContador}}</span>
		</div>
	</div>
</div>


{{outlet}}


